@model MvcApp.Client.Models.Author.AuthorViewModel
<div class="container-form-center">

  @* <form class="content-form" asp-action="login" asp-controller="author" method="POST">
     <h2>Log In</h2>
    <div class="from-group col-md-6">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="text" id="email" placeholder="Enter email" asp-for="@Model.Email" value="" required/>
      </div>
    </div>
    <div class="from-group col-md-6">
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id ="password" placeholder="Enter password" asp-for="@Model.Password" value="" required/>
      </div>
    </div>
    <div class="from-group col-md-6">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <button class="btn btn-warning" onclick="location.href='@Url.Action("Home", "Landing")'">Go Back</button>
      </div>
    </div>
  </form> *@
 @* @if (User.Identity.IsAuthenticated){
      <h1 class="is-size-1">
          Welcome Back, @User.Identity.Name
      </h1>
      <button class="btn btn-warning" onclick="location.href='@Url.Action("Author", "Landing")'">Go to Main Page</button>
  @* }

  else
  {

    <a class="btn btn-success" asp-controller="Author" asp-action="Login">Sign In</a>
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Home", "Landing")'">Go to Main Page</button>
  } *@

<div class="row">
  <div class="col-xs-6">
    <img class="center" src="~/assets/RDTlogo.png" width="260" height="150" alt="RDT logo">
  </div>
  <div class="col-xs-6">
    <h1 class="text">WELCOME</h1>
  </div>
</div>



  <p>Dear Author, Thank you for joining us in our mission on educating the masses about software.</p>




<a class="btn btn-primary btn-sm" asp-controller="Author" asp-action="Login">Log in </a>
    <button class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Home", "Landing")'">Main Page</button>
